<li class="comment" id="comment-<%=comment._id%>">
  <div>
    <div>
      <span><%= comment.user.name%></span>
      <p class="comment-content"><%= comment.content%></p>
    </div>
    <% if (locals.user.id == comment.user.id){%>
    <a class="delete-comment" href="/comment/destroy/<%= comment._id%>"
      ><i class="fas fa-ellipsis-h"></i
    ></a>
    <%}%>
  </div>

  <p class="display-5">
    <span>Like</span><span>Comment</span><span><%= comment.posted_time%></span>
  </p>
</li>
